@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dot-color: rgba(23, 23, 23, 0.262);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --dot-color: rgba(237, 237, 237, 0.08);
  }
}

body {
  background-color: var(--background);
  background-image: radial-gradient(
    circle at 1px 1px,
    var(--dot-color) 0,
    var(--dot-color) 1px,
    transparent 1px
  );
  background-size: 22px 22px;
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  margin: 0;
  min-height: 100vh;
}
